@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
  font-family: 'Source Sans Pro';
  margin: 0;
  padding: 0;
  height: 100%;
}

code{
  font-family: 'Source code Pro';
}

* {
  box-sizing: border-box;
}